form{
  padding: 0 30px;
}

h1{
  text-align: center;
  color: white;
  font-size: 50px;
}

.btn-primary{
    color: black;
    background-color: white;
    border-color: white;
}

.btn-success{
    color: black;
    background-color: white;
    border-color: white;
}