body{
	color: white;
}

header{
	width: 100%;
	height: 100px;
	background-color: black;
	margin-bottom: 1%;
}

main{
	margin-right: 1%;
	background-color: black;
	float: left;
	min-height: 500px;
	width: 70%
}


.sidebar_nav{
	margin-right: 1%; 
	width: 14%;
	min-height: 500px;
	background-color: black;
	float: left;
}

.sidebar{
	width: 14%;
	min-height: 500px;
	background-color: black;
	float: right;
}