body{
  color: white;
  margin: 1%;
}

header{
  width: 100%;
  height: 100px;
  background-color: black;
  margin-bottom: 10px;
  border-radius: 15px;

  text-align: center;
  font-size: 50px;
  line-height: 100px;
}

footer{
  padding: 30px 10px;
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: black;
  border-radius: 15px;
  float: right;
  font-size: 20px;
  margin-bottom: 10px;
}

ul{
  padding: 0 0;
  list-style-type: none;
  line-height: 50px;
  font-size: 20px;
}


a:link{
  color: white;
}

a:visited{
  color: white;
}

a.buttonT{
  display: inline-block;
  color: white;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  float: left;
  width: 45%;
} 

a.buttonT:hover{
  background: green; 
}

a.buttonT:active{
  background: white; 
}

a.buttonF{
  display: inline-block;
  color: white;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  float: right;
  width: 45%;
} 

a.buttonF:hover{
  background: red; 
}

a.buttonF:active{
  background: white; 
}


form{
  padding: 0 30px;
}

h1{
  text-align: center;
  color: white;
  font-size: 50px;
}


.btn-primary{
  color: black;
  background-color: white;
  border-color: white;
}

.btn-success{
  color: black;
  background-color: white;
  border-color: white;
}

.sidebar_nav{
  padding: 5% 1%;
  margin-right: 1%; 
  margin-bottom: 10px; 
  width: 19%;
  min-height: 600px;
  background-color: black;
  float: left;
  border-radius: 15px;
}

.content{
  padding: 5% 5%;
  background-color: black;
  float: right;
  min-height: 600px;
  width: 80%;
  margin-bottom: 10px; 
  border-radius: 15px;
}

.fact{
  padding: 2.5% 5%;
  margin-bottom: 10px; 
  background-color: black;
  float: right;
  min-height: 250px;
  width: 100%;
  border-radius: 15px;
  line-height: 2;
}

.error{
  font-size: 15px;
  color: red;
}

.end{
  padding: 10px 10px;
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: red;
  margin-bottom: 10px;
  border-radius: 15px;
  float: right;
  font-size: 20px;}