body{
	color: white;
	margin: 1%;
}

header{
	width: 100%;
	height: 100px;
	background-color: black;
	margin-bottom: 10px;
	border-radius: 15px;

	text-align: center;
	font-size: 50px;
	line-height: 100px;
}

footer{
	padding: 1% 1%;
	width: 100%;
	height: 100px;
	background-color: black;
	border-radius: 15px;
	clear: left;
}
 
ul{
	padding: 0 0;
	list-style-type: none;
	line-height: 50px;
	font-size: 20px;
}


a:link{
	color: white;
}

a:visited{
	color: white;
}

.sidebar_nav{
	padding: 5% 1%;
	margin-right: 1%; 
	width: 14%;
	min-height: 1010px;
	background-color: black;
	float: left;
	border-radius: 15px;
}

.sidebar{
	width: 14%;
	min-height: 1010px;
	background-color: black;
	float: right;
	border-radius: 15px;
}

.description{
	padding: 5% 5%;
	margin-right: 1%;
	margin-bottom: 10px;
	background-color: black;
	float: left;
	min-height: 500px;
	width: 70%;
	border-radius: 15px;
}


.content{
	padding: 5% 5%;
	margin-bottom: 10px;
	margin-right: 1%;
	background-color: black;
	float: left;
	min-height: 500px;
	width: 70%;
	border-radius: 15px;
}

.error{
  font-size: 15px;
  color: red;
}

