<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/styles_1.css">
    <link rel="stylesheet" href="static/css/styles_2.css">
    <title>Как Так!?</title>
</head>
<body>
<header>
    <h1>КакТак!?</h1>
    <nav>
        {% if current_user.is_authenticated %}
        <ul>
            <li><a href="/index">На главную</a></li>
            <li><a href="/logout">{{ current_user.name }}</a></li>
        </ul>
        {% else %}
        <ul>
            <li><a href="/index">На главную</a></li>
            <li><a href="/login">Войти</a></li>
            <li><a href="/register">Зарегистрироваться</a></li>
        </ul>
        {% endif %}
    </nav>
</header>
<main>
    {% block login %}{% endblock %}
    {% block content %}{% endblock %}
</main>
<footer>

</footer>
</body>
</html>