<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/styles_3.css">
    <title>Как Так!?</title>
</head>
<body>
<header>
    КакТак!?
</header>
<div class="sidebar_nav">
    <nav>
        {% if current_user.is_authenticated %}
        <ul>
            <li><a href="/index">На главную</a></li>
            <li><a href="/logout">Выйти</a></li>
        </ul>
        {% else %}
        <ul>
            <li><a href="/index">На главную</a></li>
            <li><a href="/login">Sign in</a></li>
            <li><a href="/register">Sign up</a></li>
        </ul>
        {% endif %}
    </nav>
</div>
<main>
    <div class="description">
        {% block login %}{% endblock %}
        {% block index %}{% endblock %}
        {% block register %}{% endblock %}
        {% block submit_email %}{% endblock %}
    </div>
    <div class="sidebar">
            <script data-ad-client="ca-pub-2177523498934602" 
            async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    </script>
    </div>
    <div class="content"></div>
</main>
<footer>
    footer
</footer>
</body>
</html>